[Unit]
Description=Run telegram-planner reminders runner every minute
Requires=telegram-planner-reminders.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Unit=telegram-planner-reminders.service

[Install]
WantedBy=timers.target
